.DS_Store
dist/
.cpcache/
caution-demo
goldens-out/

/go/appbundle
/go/bundle
/go/damageprobe
/go/demo
/go/design
/go/goldens
/go/preview
/go/shaperwasm
/go/term
/go/tstest
/examples/hello/hello
/examples/nyan/nyan
/examples/screensaver/screensaver

linux/out/

.*.swp
.*.swo

.claude/
.clj-kondo/
.lsp/
